<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Jeremy Keiper</author>
	<description>
			AMRS Customizations
	</description>

	<activator>@MODULE_PACKAGE@.AMRSCustomizationActivator</activator>
	
	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.8.0</require_version>
	
	<!-- Extensions -->
	
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
    <extension>
        <point>org.openmrs.admin.maintenance.localHeader</point>
        <class>@MODULE_PACKAGE@.extension.html.MaintenanceHeader</class>
    </extension>
    
    <extension>
    	<point>org.openmrs.headerFullIncludeExt</point>
		<class>@MODULE_PACKAGE@.extension.html.FullHeaderInclude</class>
	</extension>
	
    <extension>
    	<point>org.openmrs.admin.concepts.localHeader</point>
		<class>@MODULE_PACKAGE@.extension.html.ConceptHeaderLinks</class>
	</extension>

    <extension>
    	<point>org.openmrs.dictionary.conceptFormFooter</point>
		<class>@MODULE_PACKAGE@.extension.html.ConceptFormFooterExtras</class>
	</extension>

    <!-- AOP -->
	<advice>
		<point>org.openmrs.api.UserService</point>
		<class>@MODULE_PACKAGE@.advice.BeforeGetUsersAdvice</class>
	</advice>
	<!-- /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>@MODULE_NAME@</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties -->
	<globalProperty>
		<property>@MODULE_ID@.maxUploadSize</property>
		<defaultValue>75000000</defaultValue>
		<description>
			This value will be used as the maximum upload size for 
                        all file transfers to OpenMRS.  The AMRS Customization
                        Module must be reloaded before this setting will take effect.
		</description>
	</globalProperty>
	<globalProperty>
		<property>@MODULE_ID@.preferredHL7Source</property>
		<defaultValue></defaultValue>
		<description>
			Specifies the HL7 source to process first in the prioiritized HL7 queue
		</description>
	</globalProperty>
	<!-- /Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> --> 

	<!-- not used; left in as a reference for later use 
	<servlet>
		<servlet-name>mrnGenerator</servlet-name>
		<servlet-class>org.openmrs.module.amrscustomization.web.servlet.MRNGeneratorServlet</servlet-class>
	</servlet>
 	-->
 		
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>it</lang>
		<file>messages_it.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!-- Hibernate Mapping -->
	<mappingFiles>
        ${omodHbmConfig}
    </mappingFiles>
    <!-- /Hibernate Mapping -->
    
</module>

